<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>BAUSTian</h1>
        <p>A platform for BAUSTians to explore</p>
        <h2>
          <ion-icon ios="logo-android" md="logo-android" name="logo-android"></ion-icon>App Version: 3.0.0
        </h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" size-md="6" size-sm="4" size-xl="4" size-xs="12">
        <ion-card button="true">
          <ion-card-header>
            <img alt="dev image" src="https://placehold.jp/1280x720.png">
            <ion-card-title>S. M. A Sayem Prodhan</ion-card-title>
            <ion-card-subtitle>200101091</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Info about what has contributed
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="4" size-xl="4" size-xs="12">
        <ion-card button="true">
          <ion-card-header>
            <img alt="dev image" src="https://placehold.jp/1280x720.png">
            <ion-card-title>Md. Saklain Sarowor</ion-card-title>
            <ion-card-subtitle>200101088</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Info about what has contributed
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-lg="4" size-md="6" size-sm="4" size-xl="4" size-xs="12">
        <ion-card button="true">
          <ion-card-header>
            <img alt="dev image" src="https://placehold.jp/1280x720.png">
            <ion-card-title>Md. Rayhan Ali</ion-card-title>
            <ion-card-subtitle>200101099</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Info about what has contributed
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="4" size-xl="4" size-xs="12">
        <ion-card button="true">
          <ion-card-header>
            <img alt="dev image" src="https://placehold.jp/1280x720.png">
            <ion-card-title>Mehedi Hasan Jim</ion-card-title>
            <ion-card-subtitle>200101078</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Info about what has contributed
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
